body {
    margin: 0;
}

.Header {
    height: 100px;
}

.NavBar {
    height: 50px;
    display: flex;
}

.NavButtonList {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.NavButtonList a{
    height: 35px;
    width: 90px;
    text-align: center;
    padding-top: 15px;
    text-decoration: none;
    display: inline-block;
}

.BoxContact {
    height: 100%;
    border: 1px solid gray;
    width: 250px;
    display: none;
}

.Logo {
    background-color: gray;
    height: 100%;
    width: 17%;
    background-image: url('/images/brand.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

main {
    height: 1224px;
    border: 1px solid black;

}

.highlights {
    height: 550px;
    background: #000 ;
}

.highlight-content {
    height: 100%;
    background-image: url('/images/home-pic.jpeg');
    background-color: bisque;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

html {
    height: 100%;
}

img {
    height: 100%;
    width: 100%;
}

.content {
    height: 1300px;
    border: 1px solid yellow;
    background-color: bisque;
}

.AboutSpace {
    height: 400px;
    border: 1px solid white;
    background-color: gray;

}
